<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>YES</string>
			<key>defaults</key>
			<string>org.smenus.lockinfo.iStudiezPlugin</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>NO</string>
			<key>defaults</key>
			<string>org.smenus.lockinfo.iStudiezPlugin</string>
			<key>key</key>
			<string>ShowEarlier</string>
			<key>label</key>
			<string>Show Earlier Classes</string>
		</dict>
		<dict>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>-1</string>
			<key>defaults</key>
			<string>org.smenus.lockinfo.iStudiezPlugin</string>
			<key>key</key>
			<string>FutureDays</string>
			<key>label</key>
			<string>Show Extra Days</string>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
			</array>
			<key>validValues</key>
			<array>
				<string>-1</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>iStudiez</string>
</dict>
</plist>
